.navbar-container{
    width: 100%;
    padding: 3rem 6rem 0rem;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: var(--clr-turq);
}

.navbar-items-container{
    display: flex;
    width: 33%;
    justify-content: space-around;
}

.navbar-items{
    margin: 0 10rem 10rem 10rem;

}

.navbar-links-container{
    display: flex;
}

.navbar-item:hover, 
.navbar-link-item:hover{
    color: var(--clr-grey);
}