body { 
  margin: 0px; 
  padding: 0px;
  background-color: var(--clr-bg);
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}